<div class="container mt-5">
    <form (ngSubmit)="login(password.value,email.value)">
        <div class="mb-3 row" >
            <label for="email" class="col-4 col-form-label">Your email</label>
            <div class="col-8">
                <input type="email" class="form-control" #email name="email" required  id="email" placeholder="Enter your mail">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="password" class="col-4 col-form-label">Your password</label>
            <div class="col-8">
                <input type="password" class="form-control" name="password" required #password id="password" placeholder="Enter password">
            </div>
        </div>
        <div class="mb-3 row">
            <div class="offset-sm-4 col-sm-8">
                <button type="submit" class="btn btn-primary">Log In</button>
            </div>
        </div>
    </form>
</div>